<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heartBar.sharedDiary.dao.DiaryTextDAO" >
  <resultMap id="BaseResultMap" type="com.heartBar.sharedDiary.dto.DiaryText" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="folder_id" property="folderId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="diary_content" property="diaryContent" jdbcType="LONGVARCHAR" />
    <result column="diary_title" property="diaryTitle" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, folder_id, user_id, create_time, modify_time,diary_content,diary_title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from diary_text
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByFolderId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from diary_text
    where folder_id = #{folderId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from diary_text
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByFolderId" parameterType="java.lang.Long">
    DELETE FROM diary_text
    WHERE folder_id = #{folderId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.heartBar.sharedDiary.dto.DiaryText" >
    insert into diary_text (id, folder_id, user_id, create_time,
      modify_time, diary_content,diary_title)
    values (#{id,jdbcType=BIGINT}, #{folderId,jdbcType=BIGINT},#{userId}, now(),
      now(), #{diaryContent,jdbcType=LONGVARCHAR}, #{diaryTitle})
  </insert>
  <insert id="insertSelective" parameterType="com.heartBar.sharedDiary.dto.DiaryText" >
    insert into diary_text
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="folderId != null" >
        folder_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="diaryContent != null" >
        diary_content,
      </if>
      <if test="diaryTitle != null" >
        diary_title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="folderId != null" >
        #{folderId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="diaryContent != null" >
        #{diaryContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="diaryTitle != null" >
        #{diaryTitle},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.heartBar.sharedDiary.dto.DiaryText" >
    update diary_text
    <set >
      <if test="folderId != null" >
        folder_id = #{folderId,jdbcType=BIGINT},
      </if>
      now(),
      <if test="diaryContent != null" >
        diary_content = #{diaryContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="diaryTitle != null" >
        diary_title = #{diaryTitle},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.heartBar.sharedDiary.dto.DiaryText" >
    update diary_text
    set folder_id = #{folderId,jdbcType=BIGINT},
      now(),
      diary_content = #{diaryContent,jdbcType=LONGVARCHAR},
      diary_title = #{diaryTitle}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heartBar.sharedDiary.dto.DiaryText" >
    update diary_text
    set
    diary_title = #{diaryTitle},
    diary_content = #{diaryContent},
    modify_time = now()
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="diaryTextCount" parameterType="java.lang.Long" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM diary_text WHERE folder_id=#{folderId}
  </select>
</mapper>